<div class="items-page">
  <div class="items-container">
    <h1>All Items</h1>

    <% if @items.any? %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.description %></td>
              <td>
                <%= link_to 'Show', item_path(item), class: 'btn btn-show' %>
                <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-edit' %>
                <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= link_to 'Back to Players', players_path, class: 'btn btn-secondary' %>
    <% else %>
      <p class="no-items">No items found.</p>
    <% end %>
  </div>
</div>
